Source: ros-jazzy-image-transport-plugins
Section: misc
Priority: optional
Maintainer: Kenji Brameld <kenjibrameld@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ros-workspace
Homepage: http://www.ros.org/wiki/image_transport_plugins
Standards-Version: 3.9.2

Package: ros-jazzy-image-transport-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-compressed-depth-image-transport, ros-jazzy-compressed-image-transport, ros-jazzy-theora-image-transport, ros-jazzy-zstd-image-transport, ros-jazzy-ros-workspace
Description: A set of plugins for publishing and subscribing to sensor_msgs/Image topics in representations other than raw pixel data.
 For example, for viewing a stream of images off-robot, a video codec will give much lower bandwidth and latency. For low frame rate tranport of high-definition images, you might prefer sending them as JPEG or PNG-compressed form.
